.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(88, 51, 86);
    overflow-x: hidden;
    padding-top: 20px;
    text-decoration: none;
    line-height: 35px;
}

.ul-1 li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    font-size: x-large ;
    margin-left: 5px ;
    list-style: none;
}
.ul-1 li a{ color: rgb(194, 149, 192);
    text-decoration: none;
    display: block;
    margin-right: 5px;
}
.ul-1 li a:hover{
    color: rgb(20, 24, 22);
    background-color: rgb(139, 150, 126);
}
.ol-1 li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
list-style: none;

}
.ol-1 li a{color: rgb(218, 188, 215);
    text-decoration: none;
}

.describe{
    background-color: rgb(215, 204, 226);
height: 100%;
width: 70%;
margin-left: 30%;
padding: 5px;

}
:target  {
   
    background-color: rgb(236, 240, 182);
    box-shadow: 10px 10px 5px 12px lightblue;}
body{
background-color:  rgb(215, 204, 226);   
}